/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover, nav a:focus{
     border:2px purple dotted;
}

.skip{
     position: relative;
}
/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     position: absolute;
     top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     position: absolute;
     top: 25px;
}
/*Write selector/rule property to style all elements when in focus*/

:focus{
     border: 5px dashed green;
}

/*Write selector/rule property to style the container */
.container{
     display:grid;
     grid-template-columns: repeat(5,1fr);
     gap: 13px;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container div:first-child{
     background-image:url("../images/header.jpg");
     background-repeat:no-repeat;
     grid-column:1/-1;
     grid-row:1/2;
}

/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */
 .accounts, .onlinebanking, .security, .loans, .contact{
     grid-column: 2/span 3;
     z-index:1;
 }

 .accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image{
     grid-column: 1/-1;
     max-height:675px;
     z-index:0;
}

.accounts,.accounts-image{
     grid-row: 2/3;
}
.onlinebanking, .onlinebanking-image{
     grid-row: 3/4;
}
.security, .security-image{
     grid-row: 4/5;
}
.loans, .loans-image{
     grid-row: 5/6;
}
.contact, .contact-image{
     grid-row: 6/7;
}

.container img{
     height:100%;
     width:100%;
}
      /*This will be a lot of rules.... but be strategic and combine selectors*/

 /* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block{
     margin: auto;
     text-align: center;
}

.text-block ul{
     text-align: left;
}

/* Add your media query here */
@media screen and (min-width: 825px){
     /* Step 10: Write the selector/rule property to style the nav element */
     nav ul{
          text-align: right;
          padding: 35px 0 35px 0;
     }
      /* Step 11: Write the selector/rule property to update the .container class */
     .container{
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          gap: 13px;
     }

     /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
     .accounts, .security, .contact{
          grid-column: 4/span 3;
     }
     .onlinebanking, .loans{
          grid-column: 2/span 3;
     }
     .accounts-image, .security-image, .contact-image{
          grid-column: 1/span 5;
     }
     .onlinebanking-image, .loans-image{
          grid-column: 3/span 5;
     }

     /* Step 16:Write the selector/rule property to update the .text-block class */
     .text-block{
          max-height: 235px;
          overflow: auto;
     }
}

  

 
 
